.navbar {
  /* position: fixed; */
  top: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(270deg, #2f1d24, #3f1532, #1b0a10, #4b2736, #2f1d24);
  background-size: 1000% 1000%;
  animation: gradientShift 20s ease infinite;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  font-size: 30px;
  margin-right: 8px;
}

.navbar-title {
  font-size: 20px;
  font-weight: bold;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

.navbar-links a:hover {
  text-decoration: underline;
}
@media (max-width: 576px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 10px;
    align-items: flex-start;
  }

  .navbar-left {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .navbar-logo {
    font-size: 24px;
    margin-right: 0;
    margin-bottom: 5px;
  }

  .navbar-title {
    font-size: 18px;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
  }

  .navbar-links a {
    margin: 5px 0;
  }
}


