.search-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.search-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #28875b, #be67cd);
  border-radius: 8px;
  padding: 2px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.search-input-wrapper input {
  width: 100%;
  padding: 10px 12px 10px 36px;
  border: none;
  border-radius: 8px;
  outline: none;
  background: white;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  left: 10px;
  font-size: 20px;
  color: #555;
}
